#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header{ 
   text-Align: center;
   color: lightblue;
   font-Size: 4rem;
   text-Transform: uppercase;
   font-Weight: bold;
   text-Shadow: 2px 2px 4px rgba(0,0,0,0.5);
}